
  <div class="d-flex justify-content-center align-items-center vh-100 loginPage">
    <div class="p-3 rounded w-25 border loginForm">
      <h2 class="text-center">Login As</h2>
      <div class="d-flex justify-content-around mt-5 mb-2">
        <div class="row">
          <div class="col">
            <button type="button" class="btn btn-primary" onclick='window.location = window.location.href+"users/login"'>
              Employee
            </button>    
          </div>
          <div class="col">
            <button type="button" class="btn btn-success" onclick='window.location = window.location.href+"admin/login"'>
              Admin
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

